* {
    box-sizing: border-box;
 }

:root {
    --theme-bg-color: grey;
    --theme-fg-color: black;
}



/*Theme light*/
.light {
    --theme-bg-color: #EEE5E5  ;
    --theme-fg-color: #37392E ;
/*
#EEE5E5
#19647E
#28AFB0
#DDCECD
#37392E

*/

}

.dark {
    --theme-bg-color: black;
}


html {
    background-color: var(--theme-bg-color);
}

.myMarkdownApp {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: var(--theme-bg-color);
    color: var(--theme-fg-color);

}

.themes {
    background-color: var(--theme-bg-color);
    color: var(--theme-fg-color);
}

.themes button {
    margin-left: 0.5rem;
}


.container {
     display: flex;
    color: var(--theme-fg-color);
 }

 .editorWrap, .previewWrap {
    width: 50%;
    height: 90vh;
   
 }

 .toolbar {
     border: 0.1rem solid black;
     height: 1.6rem;
     padding: 0.2rem;
    background-color: var(--theme-bg-color);
    color: var(--theme-fg-color);

 }




 #editor {
     width: 100%;
     height: calc(100% - 1.8rem);
     font-family: monospace;

    overflow-y: scroll;
    scrollbar-color: grey transparent;
    scrollbar-width: thick; 
    background-color: var(--theme-bg-color);
    color: var(--theme-fg-color);
        
 }

#preview {
    width: 100%;
     height: calc(100% - 1.8rem);

    overflow-y: scroll;
    scrollbar-color: grey transparent;
    scrollbar-width: thick; 

    background-color: var(--theme-bg-color);
    color: var(--theme-fg-color);
}


#preview img {
    width: 80%;
}




body {
    margin: 0;
    background: var(--theme-bg-color);
}

textarea {

    background: var(--theme-bg-color);
}

















