* {
    /*border: 1px solid black;*/
    box-sizing: border-box;
 }

:root {
    --theme-bg-color: grey;
    --theme-fg-color: black;
}



/*Theme light*/
.light {
    --theme-bg-color: #EEE5E5;
    --theme-fg-color: #37392E;
    --theme-bg-color-toolbar: #28AFB0;
    --theme-border-color: #19647E;
    --theme-bg-code: #28AFB0;
    --theme-link-color: #28AFB0;
    --theme-table-border-color: #28AFB0;


/*
#EEE5E5
#19647E
#28AFB0
#DDCECD
#37392E

*/

}

.dark {
    --theme-bg-color: black;
}


html {
    background-color: var(--theme-bg-color);
}



#App {
    font-family: sans-serif;
}
.myMarkdownApp {
    font-size: 2rem;
    height: 2.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: var(--theme-bg-color);
    color: var(--theme-fg-color);

}

.themes {
    padding: 0.4rem;
    height: 2.2rem;
    background-color: var(--theme-bg-color);
    color: var(--theme-fg-color);
}

.themes button {
    margin-left: 0.5rem;
}


.container {
     display: flex;
    color: var(--theme-fg-color);
 }

 .editorWrap, .previewWrap {
    width: 50%;
    height: calc(100vh - 4.7rem);
   
 }

 .toolbar {
     border: 0.1rem solid var(--theme-border-color);
     height: 1.6rem;
     padding: 0.2rem;
     font-weight: bold;
     font-family: sans-serif;
    background-color: var(--theme-bg-color-toolbar);
    color: var(--theme-fg-color);


 }




 #editor {
     padding: 0.3rem;
     font-family: monospace;
     font-size: 1rem;
     border-right: 0.1rem solid var(--theme-border-color);
 }


 /*Remove that stubern orange highlight around the textarea form element*/
 textarea {
     /*Disable the resizing feature*/
    resize: none;
     border: none;
-moz-box-shadow:none;
    box-shadow: none;
 }

textarea:focus {
outline: none;
border: none;
    border: none;
-moz-box-shadow:none;
    box-shadow: none;
}

#editor, #preview {
    width: 100%;
     height: calc(100% - 1.8rem);

    overflow-y: scroll;
    scrollbar-color: grey transparent;
    scrollbar-width: thick; 

    background-color: var(--theme-bg-color);
    color: var(--theme-fg-color);
}

/*Style the previewed elements*/
#preview {
    padding: 1rem;
}

#preview img {
    width: 80%;
}

#preview code {
    padding: 0 1rem;
    background-color: var(--theme-bg-code);

}

#preview pre {
    padding: 0.5rem;
    background-color: var(--theme-bg-code);
}

#preview a {
    color: var(--theme-link-color);
}

#preview table {
    border-collapse: collapse;
    border: 0.2rem solid var(--theme-table-border-color);
    
}

#preview table * {
    padding: 0.3rem;
    border: 0.2rem solid var(--theme-table-border-color);
}








body {
    margin: 0;
    background: var(--theme-bg-color);
}

textarea {

    background: var(--theme-bg-color);
}

















