* {
    /*border: 1px solid black;*/
    box-sizing: border-box;
 }

:root {
    --theme-bg-color: grey;
    --theme-fg-color: black;
}



/*Theme light*/
.light {
    --theme-bg-color: #EEE5E5;
    --theme-fg-color: #37392E;
    --theme-bg-color-toolbar: #28AFB0;
    --theme-border-color: #19647E;
    --theme-bg-code: #28AFB0;
    --theme-link-color: #28AFB0;
    --theme-table-border-color: #28AFB0;


/*
#EEE5E5
#19647E
#28AFB0
#DDCECD
#37392E

*/

}

.dark {

    --theme-bg-color: #282A3A;
    --theme-fg-color: #C69749;
    --theme-bg-color-toolbar: #735F32;
    --theme-border-color: #735F32;
    --theme-bg-code: #000000;
    --theme-link-color: #FFFFFF;
    --theme-table-border-color: #735F32;


}


.github {

    --theme-bg-color: #FFFFFF;
    --theme-fg-color: #24292F;
    --theme-bg-color-toolbar: #2DA44E;
    --theme-border-color: #2DA44E;
    --theme-bg-code: #F6F8FA;
    --theme-link-color: #0969DA;
    --theme-table-border-color: #2DA44E;


}



.rainbow {

    --theme-bg-color: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
    --theme-fg-color: #000000;
    --theme-bg-color-toolbar: #FF0000;
    --theme-border-color: #000000;
    --theme-bg-code: #FF30EA;
    --theme-link-color: #FF0000;
    --theme-table-border-color: #E7E0E0;


}



.matrix {

    --theme-bg-color: #020204;
    --theme-fg-color: #22b455;
    --theme-bg-color-toolbar: #204829;
    --theme-border-color: #204829;
    --theme-bg-code: #204829;
    --theme-link-color: #80ce87;
    --theme-table-border-color: #204829;


}

.neon {


    --theme-bg-color: #000000;
    --theme-fg-color: #ff33cc;

    text-shadow:
        0 0 7px #ff33cc,
        0 0 10px #ff33cc,
        0 0 21px #ff33cc,
        0 0 42px #ff33cc,
        0 0 82px #ff33cc,
        0 0 92px #ff33cc,
        0 0 102px #ff33cc,
        0 0 151px #ff33cc;




    --theme-bg-color-toolbar: #444444;
    --theme-border-color: #9E9E9E;
    --theme-bg-code: #444444;
    --theme-link-color: #FFFFFF;
    --theme-table-border-color: #9E9E9E;


}









html {
    background: var(--theme-bg-color);
}



#App {
    font-family: sans-serif;
}
.myMarkdownApp {
    font-size: 2rem;
    height: 2.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
    background: var(--theme-bg-color);
    color: var(--theme-fg-color);

}

.themes {
    padding: 0.4rem;
    height: 2.2rem;
    background: var(--theme-bg-color);
    color: var(--theme-fg-color);
}

.themes button {
    margin-left: 0.5rem;
}


.container {
     display: flex;
    color: var(--theme-fg-color);
 }

 .editorWrap, .previewWrap {
    width: 50%;
    height: calc(100vh - 4.7rem);
   
 }

 .toolbar {
     border: 0.1rem solid var(--theme-border-color);
     height: 1.6rem;
     padding: 0.2rem;
     font-weight: bold;
     font-family: sans-serif;
    background: var(--theme-bg-color-toolbar);
    color: var(--theme-fg-color);


 }




 #editor {
     padding: 0.3rem;
     font-family: monospace;
     font-size: 1rem;
     border-right: 0.1rem solid var(--theme-border-color);
 }


 /*Remove that stubern orange highlight around the textarea form element*/
 textarea {
     /*Disable the resizing feature*/
    resize: none;
     border: none;
-moz-box-shadow:none;
    box-shadow: none;
 }

textarea:focus {
outline: none;
border: none;
    border: none;
-moz-box-shadow:none;
    box-shadow: none;
}

#editor, #preview {
    width: 100%;
     height: calc(100% - 1.8rem);

    overflow-y: scroll;
    scrollbar-color: grey transparent;
    scrollbar-width: thick; 

    background: var(--theme-bg-color);
    color: var(--theme-fg-color);
}

/*Style the previewed elements*/
#preview {
    padding: 1rem;
}

#preview img {
    width: 80%;
}

#preview code {
    padding: 0 1rem;
    background: var(--theme-bg-code);

}

#preview pre {
    padding: 0.5rem;
    background: var(--theme-bg-code);
}

#preview a {
    color: var(--theme-link-color);
}

#preview table {
    border-collapse: collapse;
    border: 0.2rem solid var(--theme-table-border-color);
    
}

#preview table * {
    padding: 0.3rem;
    border: 0.2rem solid var(--theme-table-border-color);
}








body {
    margin: 0;
    background: var(--theme-bg-color);
}

textarea {

    background: var(--theme-bg-color);
}

















